.section-thumbnails {
  background-color: white;
  border-bottom: 1px;

  &__image {
    padding: 0.25rem;
    border-radius: 9rem;
    max-width: 100%;
    height: auto;
    display: inline-block;
  }

  &__title {
    font-size: $x-large;
    font-weight: $extra-bold;
    display: inline-block;
  }

  &__paragraph{
    font-size: $small;
    display: inline-block;
    padding: 20px;
    text-align: left;
  }

  &__inter{
    padding: 20px;
  }

  &__text-red
  {
    color: $fuzzy-wuzzy;
  }
}
